* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;}

.caja{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
}

.primero{
    background: linear-gradient(to top, green, red, blue);
}
.primero:hover{
    transform:translate(50px, 40px)
}

.segundo{
    background: linear-gradient(to top, black, grey, pink);
}

.segundo:hover{transform: scale(1.1, 1.1);}

.tercero{
    background: linear-gradient(to top, green, black, blue);
    transition: all 2s ease;
}
.tercero:hover{
    background:linear-gradient(to top, yellow, brown, red);
    transform: rotate(60deg); 
    border-radius: 10%;}